    <section class="head">
        <div class="container flex1">
        <div class="scoial">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-youtube"></i>
        </div>
        <div class="logo">
            <img src="assets/hotellogo.png" alt="">
        </div>
        <div class="address">
            <i class="fas fa-map-marker-alt"></i>
            <span>Poinciana Circle,Montego Bay</span>
        </div>
        </div>
    </section>


    <header class="header">
        <div class="container">
        <nav class="navbar flex1">
            <div class="sticky_logo logo">
            <img src="assets/kisspng-corinthia-hotel-london-corinthia-hotel-prague-cori-corinthia-hotels-roger-cooper-5b75fba6c3b4d9.6321412815344587908016.png" alt="">
            </div>

            <ul class="nav-menu">
            <li> <a routerLink="/home">Home</a> </li>
            <li> <a routerLink="/about">about</a> </li>
            <li> <a routerLink="/room">room</a> </li>
            <li> <a routerLink="blog">blog</a> </li>
            <li> <a routerLink="/contact">contact</a> </li>
            </ul>
            <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            </div>

            <div class="head_contact">
            <i class="fas fa-phone-volume"></i>
            <span>(876)333-3456</span>
            </div>
        </nav>
        </div>
    </header>
